# This is a basic workflow to help you get started with Actions

name: S3 Deploy

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test React App
        run: npm install && npm run test
  deploy:
    needs: [test]
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build React App
        run: npm install && npm run build
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Deploy app build to S3 bucket
        run: aws s3 sync ./build s3://${{ secrets.S3_BUCKET }} --delete
      - name: Deploy app build to Reg.ru
        uses: wlixcc/SFTP-Deploy-Action@v1.0
        with:
          username: 'u0078977'
          server: '${{ secrets.SERVER_IP }}'
          ssh_private_key: ${{ secrets.REG_RU_PRIVATE_KEY }} 
          local_path: './build/*'
          remote_path: '/var/www/u0078977/pluk.shamansoft.ru'
          args: '-o ConnectTimeout=5'